---
import incomingData from "@/data/la_confe/amazon-seleccionadas.json";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import logo from "@public/svg/logo.svg";
import { Image } from "astro:assets";
import LaConfeCard from "@/components/LaConfeCard.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"La Confe"} description={"Amazonas"} />
  </head>
  <header>
    <nav
      class="bg-neutral-1000 px-4 lg:px-6 py-2.5 border-b-neutral-700 border-b-[0.5px]"
    >
      <div
        class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
      >
        <a href="/" class="flex items-center">
          <Image
            height={40}
            width={40}
            src={logo}
            alt="Kahete Logo"
            format={"avif"}
            quality={"mid"}
          />
        </a>
      </div>
    </nav>
  </header>
  <body>
    <section class="bg-neutral-1000">
      <div
        class="justify-between items-center mx-auto max-w-screen-xl pt-8 pl-4 pr-2"
      >
        <label class="text-white text-xl font-semibold">La Confe 28</label>
        <div class="mt-6 flex mb-4 breadcrum-list-container">
          <span
            data-target="all"
            class="active nav-btn breadcrum-list-item text-sm text-center"
            >All rotaractors</span
          >
          <span
            data-target="el-salvador"
            class="nav-btn breadcrum-list-item text-sm text-center"
            >El Salvador</span
          >
          <span
            data-target="guatemala"
            class="nav-btn breadcrum-list-item text-sm text-center"
            >Guatemala</span
          >
          <span
            data-target="panama"
            class="nav-btn breadcrum-list-item text-sm text-center">Panamá</span
          >
          <span
            data-target="honduras"
            class="nav-btn breadcrum-list-item text-sm text-center"
            >Honduras</span
          >
          <span
            data-target="nicaragua"
            class="nav-btn breadcrum-list-item text-sm text-center"
            >Nicaragua</span
          >
          <span
            data-target="costa-rica"
            class="nav-btn breadcrum-list-item text-sm text-center"
            >Costa Rica</span
          >
          <span
            data-target="belice"
            class="nav-btn breadcrum-list-item text-sm text-center">Belice</span
          >
          <span
            data-target="peru"
            class="nav-btn breadcrum-list-item text-sm text-center">Perú</span
          >
        </div>
        <!-- PANELS -->
        <div id="panels" class="min-h-screen">
          <!-- All -->
          <div id="all" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">All countries 🇸🇻🇵🇪🇭🇳🇳🇮🇨🇷🇧🇿🇬🇹🇵🇦</label>
            </div>
            {
              incomingData
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="el-salvador" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">El Salvador 🇸🇻</label>
            </div>
            {
              incomingData
                .filter(
                  (entry) => entry.country.toLowerCase() === "el salvador"
                )
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="honduras" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Honduras 🇭🇳</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "honduras")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="guatemala" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Guatemala 🇬🇹</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "guatemala")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="panama" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Panamá 🇵🇦</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "panama")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="costa-rica" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Costa Rica 🇨🇷</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "costa rica")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="belice" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Belice 🇧🇿</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "belice")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="nicaragua" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Nicaragua 🇳🇮</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "nicaragua")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
          <div id="peru" class="panel" style="display: block;">
            <div class="pb-4">
              <label class="text-white">Perú 🇵🇪</label>
            </div>
            {
              incomingData
                .filter((entry) => entry.country.toLowerCase() === "peru")
                .sort(function (a, b) {
                  if (a.username < b.username) {
                    return -1;
                  }
                  if (a.username > b.username) {
                    return 1;
                  }
                  return 0;
                })
                .map((entry) => {
                  return <LaConfeCard entry={entry} />;
                })
            }
          </div>
        </div>
      </div>
      <Footer />
    </section>
  </body>
  <style>
    .breadcrum-list-container {
      width: 100%;
      max-width: 100%;
      height: auto;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 12px;
    }

    .breadcrum-list-item {
      display: inline-block;
      margin-right: 12px;
      color: white;
      background: transparent;
      border: 1px solid white;
      border-radius: 10px;
      padding: 8px 12px 8px 12px;
      cursor: pointer;
    }
    .active {
      background: #65ced8;
      color: black;
      border: 1px solid transparent;
    }
  </style>
  <script is:inline src="/src/utils/breadcrumb-events.js"></script>
</html>
