---
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";
import BaseHead from "@/components/legacy/BaseHead.astro";
import ContactButton from "@/components/legacy/ContactButton.astro";
import Footer from "@/components/legacy/Footer.astro";
import NavBarProfile from "@/components/legacy/NavBarProfile.astro";
import PageQRCode from "@/components/legacy/PageQRCode.astro";

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  phone_number,
  email,
  whatsapp,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={username}
      description={about === "" ? title : about}
      image={profile_picture}
    />
  </head>
  <body>
    <NavBarProfile
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number}
      email={email}
    />
    <section class="text-white min-h-screen">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture ? profile_picture : logo}
              quality={"mid"}
              height={200}
              width={200}
              style="border-radius: 70px"
            />
          </div>
          <div class="text-center pb-2 text-base">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white font-normal">{title}</h6>
          </div>
          <div style="white-space:pre-line">
            {
              about === "" ? (
                <div />
              ) : (
                <div class="content mt-1 text-center text-about text-sm pb-6">
                  {about}
                </div>
              )
            }

            <div class="flex gap-3">
              <ContactButton
                buttonType="Phone"
                phone={phone_number}
                whatsapp={whatsapp}
              />
              <ContactButton buttonType="Email" email={email} />
              <ContactButton buttonType="WhatsApp" whatsapp={whatsapp} />
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- /SOCIALMEDIA -->
          <PageQRCode username={username} title={title} />
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
