---
import { Image } from "astro:assets";
import TASNavbar from "@/components/business-tas/TASNavbar.astro";
import TASLogoSlogan from "@public/companies/tas/tas-slogan.png";
import TASSquare from "@public/companies/tas/tas-square.jpg";
import BaseHead from "@/components/legacy/BaseHead.astro";
import Footer from "@/components/legacy/Footer.astro";
import PageQRCode from "@/components/legacy/PageQRCode.astro";
import RoundedEmailButton from "@/components/legacy/RoundedEmailButton.astro";
import RoundedPhoneNumberButton from "@/components/legacy/RoundedPhoneNumberButton.astro";
import WhatsAppButton from "@/components/legacy/WhatsAppButton.astro";
import DownloadContactButtonWhiteBGFull from "@/components/legacy/DownloadContactButtonFullWhiteBG.astro";

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  phone_number,
  email,
  whatsapp,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={username}
      description={about}
      image={profile_picture}
      headerColor="#ffffff"
    />
  </head>
  <body>
    <TASNavbar />
    <section class="text-white min-h-screen">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-right">
          <div class="pt-6 pb-8">
            <DownloadContactButtonWhiteBGFull {...Astro.props} />
          </div>
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture ? profile_picture : TASSquare}
              quality={"high"}
              height={1000}
              width={1000}
              style="border-radius: 30px; height: 200px;width: 200px;"
            />
          </div>
          <div class="text-center pb-2 text-base">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white font-normal">{title}</h6>
          </div>
          <div class="content mt-1 text-center text-about text-sm pb-6">
            {about}
          </div>
          <!-- CONTACT BUTTONS -->
          <div class="flex justify-around align-middle">
            <WhatsAppButton whatsappNumber={whatsapp} email={email} />
            <RoundedPhoneNumberButton whatsappNumber={whatsapp} />
            {email !== null && <RoundedEmailButton email={email} />}
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- DIRECTORY -->
          <a href={"./"}>
            <div
              class="flex justify-between items-center rounded-lg text-white cursor-pointer mb-4 p-4 bg-danger-900"
              style="border-width: 1.3px;
              border-radius: 15px;
              border-color: #939393;"
            >
              <div class="flex items-center gap-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#FFFFFF"
                  ><path
                    d="M560-564v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-600q-38 0-73 9.5T560-564Zm0 220v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-380q-38 0-73 9t-67 27Zm0-110v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-490q-38 0-73 9.5T560-454ZM260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"
                  ></path></svg
                >
                <div class="text-base text-start items-center">
                  Directorio TAS
                </div>
              </div>
            </div>
          </a>
          <!--  -->
          <div
            class="mb-4 pt-6 py-2 px-4 rounded-lg mx-auto max-w-screen-xl bg-white"
          >
            <div class="text-start">
              <div>
                <div class="pb-2">
                  <Image
                    format={"avif"}
                    alt="arrow_outward"
                    src={TASLogoSlogan!}
                    quality={"high"}
                    height={100}
                    width={1000}
                    class="h-16 w-32"
                  />
                </div>
                <h3 class="mb-2 pt-4 text-xl font-semibold text-black">
                  Conecta con nuestro equipo
                </h3>
                <p class="text-black text-sm leading-6">
                  Comuníquese con los miembros de nuestros distintos
                  departamentos para recibir la asistencia que necesita.
                </p>
                <div class="justify-start mt-4 w-60">
                  <a href="./" class="px-6 text-base font-semibold text-center">
                    <div
                      style="border-radius: 100px;"
                      class="flex justify-center items-center cursor-pointer mb-6 item-border h-14 text-danger-900 rounded-lg bg-danger-100 border-danger-900 border-2 pl-4"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#981B25"
                        ><path
                          d="M560-564v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-600q-38 0-73 9.5T560-564Zm0 220v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-380q-38 0-73 9t-67 27Zm0-110v-68q33-14 67.5-21t72.5-7q26 0 51 4t49 10v64q-24-9-48.5-13.5T700-490q-38 0-73 9.5T560-454ZM260-320q47 0 91.5 10.5T440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6Zm260 42q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-396q-33-14-68.5-21t-71.5-7q-47 0-93 12t-87 36v394Zm-40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740q51-30 106.5-45T700-800q52 0 102 12t96 36q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59ZM280-494Z"
                        ></path></svg
                      >
                      <div class="text-base font-semibold text-start pl-2">
                        Ver directorio TAS
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- QR CODE -->
          <PageQRCode username={username} title={title} />
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
