---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import blogPlaceholder from "@public/la_confe/laconfe_square_logo.jpeg";
import NavBarLaConfeProfile from "@/components/NavBarLaConfeProfile.astro";

interface Props {
  slug: string;
  username: string;
  title: string;
  about: string;
  profile_picture?: any;
  email?: string;
  whatsapp?: string;
  phone_number?: string;
  color_group: string;
}

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  email,
  whatsapp,
  phone_number,
  color_group,
} = Astro.props;
---

<script
  is:inline
  src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
<script define:vars={{ title, slug }}>
  document.onreadystatechange = function () {
    if (document.readyState === "loading") {
      console.log("Page is loading");
    }
    if (document.readyState === "interactive") {
      console.log("DOM is ready");
    }
    if (document.readyState === "complete") {
      console.log("Page is fully loaded");
      const qrcode = new QRCode(document.getElementById("qrcode"), {
        text:
          "https://www.kahete.com/la-confe/" + title.toLowerCase() + "/" + slug,
        maxWidth: 600,
        maxHeight: 600,
        minWidth: 500,
        minHeight: 500,
        colorDark: "#000",
        colorLight: "#fff",
        correctLevel: QRCode.CorrectLevel.H,
      });
    }
  };
</script>
<html lang="en">
  <head>
    <BaseHead title={username} description={about} />
  </head>
  <body>
    <NavBarLaConfeProfile
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number!}
    />
    <section class="bg-neutral-1000 text-white">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture === "" ? blogPlaceholder : profile_picture}
              quality={"mid"}
              height={1000}
              width={1000}
              style={`border-radius: 60px;border: 4px solid ${color_group};padding: 6px; width: 200px; height: 200px;`}
            />
          </div>
          <div class="text-center pb-1 text-base">
            <h6 class="font-semibold text-white capitalize">
              {username}
            </h6>
            <h6 class="text-white font-normal capitalize">{title}</h6>
          </div>

          <div>
            <div
              class="content mt-1 text-center text-about text-sm pb-6 capitalize"
            >
              {about}
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- /SOCIALMEDIA -->
          <!-- QR -->
          <div class="bg-white rounded-lg pb-8 mt-6">
            <div id="qrcode" class="flex mx-auto justify-center p-12"></div>
            <lable class="text-black font-bold text-sm capitalize"
              >{username}</lable
            >
            <br />
            <lable class="text-black capitalize text-xs">{about}</lable>
          </div>
          <!-- /QR -->
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
