---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import blogPlaceholder from "@public/la_confe/laconfe_square_logo.jpeg";
import NavBarLaConfeProfile from "@/components/NavBarLaConfeProfile.astro";
import PageQRCode from "@/components/PageQRCode.astro";

interface Props {
  slug: string;
  username: string;
  title: string;
  about: string;
  profile_picture?: any;
  email?: string;
  whatsapp?: string;
  phone_number?: string;
  color_group: string;
}

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  email,
  whatsapp,
  phone_number,
  color_group,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={username} description={about} image={profile_picture} />
  </head>
  <body>
    <NavBarLaConfeProfile
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number!}
      email={email!}
    />
    <section class="text-white">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture === "" ? blogPlaceholder : profile_picture}
              quality={"mid"}
              height={1000}
              width={1000}
              style={`border-radius: 60px;border: 4px solid ${color_group};padding: 6px; width: 200px; height: 200px;`}
            />
          </div>
          <div class="text-center pb-1 text-base">
            <h6 class="font-semibold text-white capitalize">
              {username}
            </h6>
            <h6 class="text-white font-normal capitalize">{title}</h6>
          </div>

          <div>
            <div
              class="content mt-1 text-center text-about text-sm pb-6 capitalize"
            >
              {about}
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- /SOCIALMEDIA -->
          <PageQRCode username={username} title={title} />
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
