---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import SocialMediaItem from "../components/SocialMediaItem.astro";
import NavBarProfile from "../components/NavBarProfile.astro";
import ContactButton from "../components/ContactButton.astro";

const { username, title, about } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={username} description={about} />
    <style>
      .hideContent {
        line-height: 1.3em;
        width: 98%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .showContent {
        line-height: 1.3em;
      }
      .custom-image-border {
        border-radius: 70px;
      }
    </style>
  </head>
  <body class="overflow-hidden">
    <NavBarProfile />
    <section class="bg-background text-white">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6 ">
            <img
              class="w-52 h-52 custom-image-border"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
            />
          </div>
          <div class="text-center pb-2">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white">{title}</h6>
          </div>

          <div>
            <div class="content hideContent mt-3 text-justify text-about">
              {about}
            </div>
            <div class="show-more mt-2 text-left pb-4">
              <button type="submit" id="show-text" class="text-accent"
                >Show more</button
              >
            </div>
            <div class="flex gap-3">
              <ContactButton buttonType="Phone" phone="+50377420064" />
              <ContactButton buttonType="Email" email="email@email.com" />
              <ContactButton buttonType="WhatsApp" phone="+50377420064" />
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <SocialMediaItem url="https://www.facebook.com" />
            <SocialMediaItem />
            <SocialMediaItem />
          </div>
          <!-- /SOCIALMEDIA -->
        </div>
      </div>
      <Footer />
    </section>
    <script>
      const button = document.querySelector("div.show-more");
      const content = document.querySelector("div.content");
      let text = document.getElementById("show-text");

      button?.addEventListener("click", () => {
        if (text?.textContent?.toUpperCase() === "SHOW MORE") {
          text.innerHTML = "Show less";
          content?.classList.remove("hideContent");
          content?.classList.add("showContent");
        } else {
          text!.innerHTML = "Show more";
          content?.classList.remove("showContent");
          content?.classList.add("hideContent");
        }
      });
    </script>
  </body>
</html>
