---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import SocialMediaItem from "../components/SocialMediaItem.astro";
import NavBarProfile from "../components/NavBarProfile.astro";
import ContactButton from "../components/ContactButton.astro";

const { username, title, about } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={username} description={about} />
  </head>
  <body>
    <NavBarProfile />
    <section class="bg-background text-white">
      <div class="py-8 px-2 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center">
            <img
              class="rounded-full w-52 h-52 lg:mb-12 mb-4"
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png"
              alt="{title}"
            />
          </div>
          <div class="p-5">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">
              <a href="#">{username}</a>
            </h3>
            <span>{title}</span>

            <div>
              <p class="mt-3 mb-4 text-justify">
                {about}
              </p>
              <div class="flex gap-3">
                <ContactButton buttonType="Phone" phone="+50377420064" />
                <ContactButton buttonType="Email" email="email@email.com" />
                <ContactButton buttonType="WhatsApp" phone="+50377420064" />
              </div>
            </div>
            <!-- SOCIALMEDIA -->
            <div>
              <SocialMediaItem url="https://www.facebook.com" />
              <SocialMediaItem />
              <SocialMediaItem />
            </div>
            <!-- /SOCIALMEDIA -->
          </div>
        </div>
      </div>
      <Footer />
    </section>
  </body><!-- <style>
    * {
      border: 1px solid red;
    }
  </style> -->
</html>
