---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";
import PageQRCode from "@/components/PageQRCode.astro";
import TASNavbar from "@/components/TASNavbar.astro";

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  phone_number,
  email,
  whatsapp,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={username}
      description={about}
      image={profile_picture}
      headerColor="#ffffff"
    />
  </head>
  <body>
    <TASNavbar
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number}
      email={email}
    />
    <section class="text-white min-h-screen">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture ? profile_picture : logo}
              quality={"mid"}
              height={200}
              width={200}
              style="border-radius: 70px"
            />
          </div>
          <div class="text-center pb-2 text-base">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white font-normal">{title}</h6>
          </div>

          <div>
            <div class="content mt-1 text-center text-about text-sm pb-6">
              {about}
            </div>
            <div class="flex justify-between align-middle">
              <!-- WHATSAPP BUTTON -->
              <a
                onclick={`location.href='https://wa.me/${whatsapp ?? ""}'`}
                target="_blank"
                class="w-11/12"
              >
                <div
                  class="flex justify-center items-center text-black cursor-pointer mb-6 item-border h-14 bg-accent"
                >
                  <svg
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.0401 0.200005C4.77101 0.200005 0.482049 4.73452 0.479814 10.3078C0.479255 12.0894 0.919607 13.8284 1.75616 15.3611L0.399902 20.6L5.46786 19.1943C6.86435 19.9997 8.43632 20.4239 10.0362 20.4245H10.0401C15.3087 20.4245 19.5977 15.8894 19.5999 10.3161C19.601 7.61512 18.6074 5.07547 16.8024 3.16511C14.9974 1.25416 12.5973 0.201186 10.0401 0.200005ZM10.0401 18.7174H10.0368C8.61123 18.7174 7.2125 18.3115 5.99259 17.5463L5.70256 17.3643L2.69554 18.1986L3.49801 15.0982L3.30913 14.7803C2.51393 13.4425 2.09369 11.8961 2.09425 10.309C2.09593 5.6764 5.66065 1.90769 10.0435 1.90769C12.1659 1.90828 14.1609 2.78339 15.6608 4.37171C17.1612 5.95944 17.9866 8.0707 17.986 10.3155C17.9844 14.9481 14.4196 18.7174 10.0401 18.7174ZM14.3984 12.425C14.1598 12.2985 12.9851 11.6876 12.7661 11.6031C12.547 11.5186 12.3877 11.4766 12.2285 11.7295C12.0692 11.9824 11.6115 12.5514 11.4724 12.7199C11.3333 12.8888 11.1935 12.9095 10.9549 12.7831C10.7163 12.6566 9.94626 12.3895 9.03426 11.5292C8.324 10.8597 7.84453 10.0325 7.70538 9.77957C7.56623 9.52666 7.69029 9.39017 7.81044 9.26431C7.91773 9.15145 8.04906 8.96945 8.16864 8.82173C8.28823 8.67401 8.32791 8.56883 8.40726 8.39983C8.48661 8.23143 8.44694 8.0837 8.38714 7.95725C8.32735 7.8308 7.84956 6.58756 7.65062 6.08176C7.4567 5.58954 7.26 5.65572 7.11303 5.64804C6.97388 5.64036 6.81462 5.63918 6.65535 5.63918C6.49609 5.63918 6.23736 5.7024 6.0183 5.95531C5.79924 6.20821 5.1823 6.81919 5.1823 8.06243C5.1823 9.30567 6.03841 10.507 6.15744 10.6754C6.27703 10.8438 7.84173 13.3952 10.238 14.489C10.808 14.749 11.2528 14.9044 11.5998 15.0208C12.172 15.2128 12.6929 15.1856 13.1042 15.1207C13.563 15.048 14.5174 14.5097 14.7164 13.9194C14.9153 13.3297 14.9153 12.8238 14.8555 12.7181C14.7957 12.6129 14.6364 12.5497 14.3978 12.4232L14.3984 12.425Z"
                      fill="#14191C"></path>
                  </svg>
                  <div
                    class="text-base font-semibold text-start items-center pl-2"
                  >
                    Enviar mensaje
                  </div>
                </div>
              </a>
              <div class="w-4"></div>
              <!-- PHONE BUTTON -->
              <button
                type="submit"
                onclick={`location.href='tel:${whatsapp ?? ""}'`}
                class="inline-flex items-center justify-center cursor-pointer rounded-full w-14 h-14 bg-[#434749]"
              >
                <svg
                  width="21"
                  height="20"
                  viewBox="0 0 21 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_153_259"
                    style="mask-type:alpha"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="21"
                    height="20"
                  >
                    <rect x="0.333374" width="20" height="20" fill="#D9D9D9"
                    ></rect>
                  </mask>
                  <g mask="url(#mask0_153_259)">
                    <path
                      d="M16.9584 17.5C15.2223 17.5 13.507 17.1215 11.8125 16.3646C10.1181 15.6076 8.57643 14.5347 7.18754 13.1458C5.79865 11.7569 4.72574 10.2153 3.96879 8.52083C3.21185 6.82639 2.83337 5.11111 2.83337 3.375C2.83337 3.125 2.91671 2.91667 3.08337 2.75C3.25004 2.58333 3.45837 2.5 3.70837 2.5H7.08337C7.27782 2.5 7.45143 2.56597 7.60421 2.69792C7.75698 2.82986 7.84726 2.98611 7.87504 3.16667L8.41671 6.08333C8.44449 6.30556 8.43754 6.49306 8.39587 6.64583C8.35421 6.79861 8.27782 6.93056 8.16671 7.04167L6.14587 9.08333C6.42365 9.59722 6.75351 10.0938 7.13546 10.5729C7.5174 11.0521 7.93754 11.5139 8.39587 11.9583C8.82643 12.3889 9.27782 12.7882 9.75004 13.1562C10.2223 13.5243 10.7223 13.8611 11.25 14.1667L13.2084 12.2083C13.3334 12.0833 13.4966 11.9896 13.698 11.9271C13.8993 11.8646 14.0973 11.8472 14.2917 11.875L17.1667 12.4583C17.3612 12.5139 17.5209 12.6146 17.6459 12.7604C17.7709 12.9062 17.8334 13.0694 17.8334 13.25V16.625C17.8334 16.875 17.75 17.0833 17.5834 17.25C17.4167 17.4167 17.2084 17.5 16.9584 17.5Z"
                      fill="white"></path>
                  </g>
                </svg>
              </button>
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- /SOCIALMEDIA -->
          <!-- QR -->
          <div class="bg-white rounded-lg pb-8">
            <PageQRCode />
            <label class="text-black font-bold text-sm capitalize"
              >{username}</label
            >
            <br />
            <label class="text-black capitalize text-xs">{title}</label>
          </div>
          <!-- /QR -->
        </div>
      </div>
      <Footer />
    </section>
    <style>
      .item-border {
        border-radius: 100px;
      }
    </style>
  </body>
</html>
