---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";
import PageQRCode from "@/components/PageQRCode.astro";
import TASNavbar from "@/components/TASNavbar.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";
import RoundedPhoneNumberButton from "@/components/RoundedPhoneNumberButton.astro";
import DownloadContactButtonWhiteBGFull from "@/components/DownloadContactButtonFullWhiteBG.astro";
import RoundedEmailButton from "@/components/RoundedEmailButton.astro";

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  phone_number,
  email,
  whatsapp,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={username}
      description={about}
      image={profile_picture}
      headerColor="#ffffff"
    />
  </head>
  <body>
    <TASNavbar
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number}
      email={email}
    />
    <section class="text-white min-h-screen">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-right">
          <div class="pt-6 pb-8">
            <DownloadContactButtonWhiteBGFull {...Astro.props} />
          </div>
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture ? profile_picture : logo}
              quality={"mid"}
              height={200}
              width={200}
              style="border-radius: 70px"
            />
          </div>
          <div class="text-center pb-2 text-base">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white font-normal">{title}</h6>
          </div>
          <div class="content mt-1 text-center text-about text-sm pb-6">
            {about}
          </div>
          <!-- CONTACT BUTTONS -->
          <div class="flex justify-around align-middle">
            <WhatsAppButton whatsappNumber={whatsapp} widthClass="w-[60%]" />
            <RoundedPhoneNumberButton whatsappNumber={whatsapp} />
            <RoundedEmailButton email={email} />
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- DIRECTORY -->
          <div
            class="my-12 py-8 px-4 rounded-lg mx-auto max-w-screen-xl bg-neutral-900"
          >
            <div class="text-start">
              <div>
                <svg
                  class="w-8 h-8 mb-6"
                  fill="#65CED8"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    fill-rule="evenodd"
                    d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path></svg
                >
                <h3 class="mb-2 text-xl font-semibold text-white">
                  Conecta con nuestro equipo
                </h3>
                <p class="text-white text-sm leading-6">
                  Comuníquese con los miembros de nuestros distintos
                  departamentos para recibir la asistencia que necesita.
                </p>
                <div class="justify-start mt-12 pb-4">
                  <a
                    style="border-radius: 100px;"
                    href="/"
                    class="py-4 px-5 text-base font-semibold text-center text-white rounded-lg bg-neutral-700"
                  >
                    Ver directorio
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- QR CODE -->
          <PageQRCode username={username} title={title} />
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
