---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import logo from "@public/svg/logo.svg";
import PageQRCode from "@/components/PageQRCode.astro";
import TASNavbar from "@/components/TASNavbar.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";
import RoundedPhoneNumberButton from "@/components/RoundedPhoneNumberButton.astro";
import DownloadContactButtonWhiteBGFull from "@/components/DownloadContactButtonFullWhiteBG.astro";
import RoundedEmailButton from "@/components/RoundedEmailButton.astro";

const {
  slug,
  username,
  title,
  about,
  profile_picture,
  phone_number,
  email,
  whatsapp,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={username}
      description={about}
      image={profile_picture}
      headerColor="#ffffff"
    />
  </head>
  <body>
    <TASNavbar
      username={username}
      title={title}
      profile_picture={profile_picture}
      phone_number={phone_number}
      email={email}
    />
    <section class="text-white min-h-screen">
      <div class="py-2 px-6 mx-auto max-w-screen-xl sm:py-8 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-right">
          <div class="pt-6 pb-8">
            <DownloadContactButtonWhiteBGFull {...Astro.props} />
          </div>
          <div class="flex justify-center items-center pt-4 lg:mb-6 mb-6">
            <Image
              format={"avif"}
              alt={username}
              src={profile_picture ? profile_picture : logo}
              quality={"mid"}
              height={200}
              width={200}
              style="border-radius: 70px"
            />
          </div>
          <div class="text-center pb-2 text-base">
            <h6 class="font-semibold text-white">
              {username}
            </h6>
            <h6 class="text-white font-normal">{title}</h6>
          </div>
          <div>
            <div class="content mt-1 text-center text-about text-sm pb-6">
              {about}
            </div>
            <!-- CONTACT BUTTONS -->
            <div class="flex justify-around align-middle">
              <WhatsAppButton whatsappNumber={whatsapp} widthClass="w-[70%]" />
              <RoundedPhoneNumberButton whatsappNumber={whatsapp} />
              <RoundedEmailButton email={email} />
            </div>
          </div>
          <!-- SOCIALMEDIA -->
          <div>
            <slot />
          </div>
          <!-- /SOCIALMEDIA -->
          <PageQRCode username={username} title={title} />
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
